/**
 * - num columns per card
 * - num possible column
 */
@mixin cards($card-columns: 4, $possible-columns: 12){
  
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
  > * {
    float: left;
    width: percentage($card-columns / $possible-columns);
  } 

}